<h1>Listing d_nsizes</h1>

<table>
  <tr>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @d_nsizes.each do |d_nsize| %>
  <tr>
    <td><%= d_nsize.size %></td>
    <td><%= link_to 'Show', d_nsize %></td>
    <td><%= link_to 'Edit', edit_d_nsize_path(d_nsize) %></td>
    <td><%= link_to 'Destroy', d_nsize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New D nsize', new_d_nsize_path %>
