<%= form_for(@line) do |f| %>
  <% if @line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% @line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :name %><br />
    <%= f.text_field :name %>
=======
    <%= f.label :pump %><br />
    <%= f.text_field :pump %>
>>>>>>> starting-out
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
