<%= form_for(@ball) do |f| %>
  <% if @ball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ball.errors.count, "error") %> prohibited this ball from being saved:</h2>

      <ul>
      <% @ball.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
