<%= form_for(@headsize) do |f| %>
  <% if @headsize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@headsize.errors.count, "error") %> prohibited this headsize from being saved:</h2>

      <ul>
      <% @headsize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
