<%= form_for(@size) do |f| %>
  <% if @size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
      <% @size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flow %><br />
    <%= f.text_field :flow %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br />
    <%= f.text_field :pressure %>
  </div>
  <div class="field">
    <%= f.label :line_id %><br />
    <%= f.text_field :line_id %>
  </div>
  <div class="field">
    <%= f.label :dnsize_id %><br />
    <%= f.text_field :dnsize_id %>
  </div>
  <div class="field">
    <%= f.label :headsize_id %><br />
    <%= f.text_field :headsize_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
