<%= form_for(@size) do |f| %>
  <% if @size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
      <% @size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flow %><br />
    <%= f.text_field :flow %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br />
    <%= f.text_field :pressure %>
  </div>
  <div class="field">
    <%= f.label :line_id %><br />
    <%= f.collection_select :line_id, Line.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :dnsize_id %><br />
    <%= f.collection_select :dnsize_id, Dnsize.all, :id, :size %>
  </div>
  <div class="field">
    <%= f.label :headsize_id %><br />
    <%= f.collection_select :headsize_id, Headsize.all, :id, :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
