<p id="notice"><%= notice %></p>

<p>
  <b>Flow:</b>
  <%= @size.flow %>
</p>

<p>
  <b>Pressure:</b>
  <%= @size.pressure %>
</p>

<p>
  <b>Line:</b>
  <%= @size.line.name %>
</p>

<p>
  <b>Group:</b>
  <%= @size.valvegroup.description %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %> |
<%= link_to 'New Size', new_size_path %>
