<h1>Admininstration Panel</h1>
<table class="panel">
  <tr>
    <td>
      <h4>Pump Attributes</h4>
      <ul>
        <li><%= link_to "Product Lines", lines_path %></li>
        <li><%= link_to "Gasket Materials", gaskets_path %></li>
        <li><%= link_to "DN Sizes", dnsizes_path %></li>
      </ul>
    </td>
    <td>
      <h4>Available Kits</h4>
      <ul>
        <li><%= link_to "Service Kits", '#' %></li>
        <li><%= link_to "Valve Kits", valvekits_path %></li>
        <li><%= link_to "Diaphragm Kits", '#' %></li>
      </ul>
    </td>
  </tr>
</table>