<h1>Find parts kits</h1>
<p>This page needs filled in with a form and backed up by search logic to find parts.</p>

<%= form_tag(find_path, :method => "get") do %>
<table>
  <tr>
    <td><div class="field">
      <%= label :line_id, "Line" %><br />
      <%= collection_select :line, :line_id, Line.all, :id, :name %>
    </div></td>
    <td><div class="field">
      <%= label :size_id, "Size" %><br />
      <%= collection_select :size, :size_id, Size.all, :id, :flow %>
    </div></td>
    <td><div class="field">
      <%= label :head_id, "Head" %><br />
      <%= collection_select :head, :head_id, Head.all, :id, :material %>
    </div></td>
    <td><div class="field">
      <%= label :gasket_id, "Gasket" %><br />
      <%= collection_select :gasket, :gasket_id, Gasket.all, :id, :material %>
    </div></td>
    <td><div class="field">
      <%= label :ball_id, "Ball" %><br />
      <%= collection_select :ball, :ball_id, Ball.all, :id, :material %>
    </div></td>
  </tr>
</table>
<div class="actions">
  <%= submit_tag "Search", :name => nil %>
</div>
<% end %>

# Make 
<div>
  <h2>Valve kit</h2>
  <% @valve.each do |kit| %>
    <%= kit.partnumber %> | <%= kit.line.name %><br />
  <% end %>
</div>
