<p id="notice"><%= notice %></p>

<p>
  <b>Part number:</b>
  <%= @valve.partnumber %>
</p>

<p>
  <b>Head:</b>
  <%= @valve.head.material %>
</p>

<p>
  <b>Gasket:</b>
  <%= @valve.gasket.material %>
</p>

<p>
  <b>Ball:</b>
  <%= @valve.ball.material %>
</p>

<p>
  <b>Is kit:</b>
  <%= @valve.iskit %>
</p>

<p>
  <b>Group:</b>
  <%= @valve.valvegroup.description %>
</p>

<p>
  <b>This kit applies to the following pumps:</b><br />
  <% @size.each do |group| %>
    <%= group.line.name %> <%= group.flow_pressure %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_valve_path(@valve) %> |
<%= link_to 'Back', valves_path %> |
<%= link_to 'New Valve', new_valve_path %>