<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><div class="field">
      <%= f.label :line_id %><br />
      <%= collection_select :search, :line_id, Line.all, :id, :pump, :include_blank => true %>
    </div></td>
    <td><div class="field">
      <%= f.label :flow %><br />
      <%= f.text_field :flow %>
    </div></td>
    <td><div class="field">
      <%= f.label :pressure %><br />
      <%= f.text_field :pressure %>
    </div></td>
    <td><div class="field">
      <%= f.label :head_id %><br />
      <%= collection_select :head, :head_id, Head.all, :id, :material, :include_blank => true %>
    </div></td>
    <td><div class="field">
      <%= f.label :gasket_id %><br />
      <%= collection_select :gasket, :gasket_id, Gasket.all, :id, :material, :include_blank => true %>
    </div></td>
    <td><div class="field">
      <%= f.label :ball_id %><br />
      <%= collection_select :ball, :ball_id, Ball.all, :id, :material, :include_blank => true %>
    </div></td>
  </tr>
</table> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
