<%= form_for(@valvegroup) do |f| %>
  <% if @valvegroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valvegroup.errors.count, "error") %> prohibited this valvegroup from being saved:</h2>

      <ul>
      <% @valvegroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
