<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @valvegroup.description %>
</p>


<%= link_to 'Edit', edit_valvegroup_path(@valvegroup) %> |
<%= link_to 'Back', valvegroups_path %> |
<%= link_to 'New Valvegroup', new_valvegroup_path %>
