<%= form_for(@valvekit) do |f| %>
  <% if @valvekit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valvekit.errors.count, "error") %> prohibited this valvekit from being saved:</h2>

      <ul>
      <% @valvekit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PN %><br />
    <%= f.text_field :PN %>
  </div>
  <div class="field">
    <%= f.label :head_id %><br />
    <%= collection_select :valvekit, :head_id, Head.all, :id, :material %>
  </div>
  <div class="field">
    <%= f.label :gasket_id %><br />
    <%= collection_select :valvekit, :gasket_id, Gasket.all, :id, :material %>
  </div>
  <div class="field">
    <%= f.label :ball_id %><br />
    <%= collection_select :valvekit, :ball_id, Ball.all, :id, :material %>
  </div>
  <div class="field">
    <%= f.label :dnsize_id %><br />
    <%= collection_select :valvekit, :dnsize_id, Dnsize.all, :id, :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
