<h1>Listing valvekits</h1>

<table>
  <tr>
    <th>Pn</th>
    <th>Ball</th>
    <th>Gasket</th>
    <th>Body</th>
    <th>Dnsize</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @valvekits.each do |valvekit| %>
  <tr>
    <td><%= valvekit.PN %></td>
    <td><%= valvekit.ball %></td>
    <td><%= valvekit.gasket %></td>
    <td><%= valvekit.body %></td>
    <td><%= valvekit.dnsize %></td>
    <td><%= link_to 'Show', valvekit %></td>
    <td><%= link_to 'Edit', edit_valvekit_path(valvekit) %></td>
    <td><%= link_to 'Destroy', valvekit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Valvekit', new_valvekit_path %>
