<h1>List of active valve kits</h1>

<table>
  <tr>
    <th>Part Number</th>
    <th>Head</th>
    <th>Gasket</th>
    <th>Ball</th>
    <th>DN size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @valvekits.each do |valvekit| %>
  <tr>
    <td><%= valvekit.PN %></td>
    <td><%= valvekit.head.material %></td>
    <td><%= valvekit.gasket.material %></td>
    <td><%= valvekit.ball.material %></td>
    <td><%= valvekit.dnsize.size %></td>
    <td><%= link_to 'Show', valvekit %></td>
    <td><%= link_to 'Edit', edit_valvekit_path(valvekit) %></td>
    <td><%= link_to 'Destroy', valvekit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Valvekit', new_valvekit_path %>
