<p id="notice"><%= notice %></p>

<p>
  <b>Pn:</b>
  <%= @valvekit.PN %>
</p>

<p>
  <b>Ball:</b>
  <%= @valvekit.head %>
</p>

<p>
  <b>Gasket:</b>
  <%= @valvekit.gasket %>
</p>

<p>
  <b>Body:</b>
  <%= @valvekit.ball %>
</p>

<p>
  <b>Dnsize:</b>
  <%= @valvekit.dnsize.size %>
</p>


<%= link_to 'Edit', edit_valvekit_path(@valvekit) %> |
<%= link_to 'Back', valvekits_path %>
